.Input {
  display: flex;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  transition: all 0.2s;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: var(--SecondaryBackgroundColor);
  min-height: 45px;
  input,
  textarea {
    padding: 8px 12px;
    outline: none;
    width: 100%;
    appearance: none;
    font-weight: 400;
    color: var(--PromaryTextColor);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  textarea {
    //min-height: 100px;
    max-width: 100%;
    height: 100%;
    grid-row-start: 10;
    word-wrap: break-word;
    resize: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--SecondaryTextColor);
  }
  &__Icon {
    left: 10px;
    top: calc(50% - 12.5px);
    width: 23px;
    height: 23px;
    position: absolute;
  }
  &__Icon_r {
    top: calc(50% - 12.5px);
    right: 10px;
    width: 23px;
    height: 23px;
    position: absolute;
  }
}
.primary {
  background-color: var(--PrimaryBackgroundColor);
}

.Input:has(input:focus) {
  border: 1px solid var(--AccentBorderColor);
  border-image-slice: 1;
  box-shadow: var(--AccentBackgroundShadow);
  background-color: var(--FourBackgroundColor);
}

.Input:has(textarea:focus) {
  border: 1px solid var(--AccentBorderColor);
  border-image-slice: 1;
  box-shadow: var(--AccentBackgroundShadow);
  background-color: var(--FourBackgroundColor);
}

@media screen and (min-width: 700px) {
  .Input {
    border: 1px solid var(--TransparentColor);
  }
}
